*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#ececec;
font-family:'Poppins',sans-serif;
overflow:hidden;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 60px;
}

.logo{
font-size:50px;
font-weight:900;
}

.logo span{
color:#e63946;
}

nav{
display:flex;
align-items:center;
gap:35px;
}

nav a{
text-decoration:none;
color:black;
font-weight:500;
}

.login-btn{
background:#082c5e;
color:white;
border:none;
padding:15px 30px;
border-radius:40px;
cursor:pointer;
}

.hero{
display:flex;
height:85vh;
}

.left{
width:50%;
padding-left:60px;
display:flex;
justify-content:center;
flex-direction:column;
}

.left h1{
font-family:'Abril Fatface',serif;
font-size:130px;
line-height:120px;
}

.left h2{
font-family:'Abril Fatface',serif;
font-size:75px;
line-height:80px;
margin-top:20px;
}

.left span{
color:#e63946;
}

.line{
width:80px;
height:4px;
background:#e63946;
margin:25px 0;
}

.left p{
font-size:22px;
max-width:600px;
line-height:1.8;
}

.chat-btn{
margin-top:35px;
width:320px;
padding:22px;
background:#082c5e;
color:white;
font-size:20px;
border:none;
border-radius:60px;
cursor:pointer;
transition:.3s;
}

.chat-btn:hover{
transform:translateY(-3px);
}

.features{
display:flex;
gap:50px;
margin-top:50px;
}

.features h3{
color:#082c5e;
}

.right{
width:50%;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.blob{
position:absolute;
width:650px;
height:650px;
background:#e63946;
border-radius:50% 40% 60% 40%;
}

.right img{
position:relative;
width:700px;
z-index:2;
}

.chat-container{
display:flex;
height:100vh;
}

.sidebar{
width:300px;
background:#082c5e;
color:white;
padding:30px;
text-align:center;
}

.sidebar img{
width:220px;
}

.chat-box{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
padding:30px;
overflow:auto;
}

.bot{
background:white;
padding:20px;
margin:10px;
border-radius:20px;
width:max-content;
max-width:600px;
}

.user{
background:#082c5e;
color:white;
padding:20px;
margin:10px;
border-radius:20px;
margin-left:auto;
width:max-content;
max-width:600px;
}

.input-area{
display:flex;
padding:20px;
background:white;
}

.input-area input{
flex:1;
padding:20px;
font-size:18px;
}

.input-area button{
padding:20px 35px;
background:#e63946;
color:white;
border:none;
}